<mat-toolbar color="primary">
    <div>
        <span>PIS</span>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxLayout class="navigation-items">
            <li> <a mat-button routerLinkActive="activeLink" routerLink="/manufacturer/home">Home</a> </li>
            <li> <a mat-button routerLinkActive="activeLink" routerLink="/manufacturer/add-product">
                Add Product
                </a>
            </li>
            <li> <a mat-button routerLink="/verify-product" routerLinkActive="activeLink">Verify Product</a> </li>
            <li> <a mat-button routerLink="/change-ownership" routerLinkActive="activeLink">Change Product Ownership</a> </li>
            <li> <a mat-button *ngIf="!login" routerLink="/manufacturer/login" routerLinkActive="activeLink" (click)="login=true">Login</a> </li>
            <li> <a mat-button *ngIf="login" routerLinkActive="activeLink" (click)="login=false">Logout</a> </li>
            <li> <a mat-button href="#">About Us</a> </li>

            <span class="material-icons logged">account_circle</span>
            <span class="profile">Paresh</span>
        </ul>
    </div>

</mat-toolbar>
