<mat-toolbar color="primary">
    <div>
        <span>PIS</span>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxLayout class="navigation-items">
            <li> <a mat-button routerLinkActive="activeLink" routerLink="/manufacturer/home">Home</a> </li>
            <li> <a mat-button *ngIf="isLoggedIn() && this.userModel.userRole == userEnum.Manufacturer" routerLinkActive="activeLink" routerLink="/manufacturer/add-product">
                Add Product
                </a>
            </li>
            <li> <a mat-button routerLink="/verify-product" routerLinkActive="activeLink">Verify Product</a> </li>
            <li> <a mat-button *ngIf="isLoggedIn()" routerLink="/change-ownership" routerLinkActive="activeLink">Change Product Ownership</a> </li>
            <li> <a mat-button *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="activeLink">Login</a> </li>
            <li> <a mat-button *ngIf="!isLoggedIn()" routerLink="/register" routerLinkActive="activeLink">Register</a> </li>
            <li> <a mat-button *ngIf="isLoggedIn()" (click)="logout()" routerLinkActive="activeLink">Logout</a> </li>
            <li> <a mat-button routerLink="/aboutUs" routerLinkActive="activeLink">About Us</a> </li>

            <span *ngIf="isLoggedIn()" class="material-icons logged">account_circle</span>
            <a routerLink="/profile" *ngIf="isLoggedIn()" class="profile">{{this.ethcontractService.currentUserValue.userName}}</a>
        </ul>
    </div>

</mat-toolbar>
