.container {
    height: 60%;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}

.link {
  text-decoration: none;
  height: 4vh;
  width: 20vw;
  text-align: center;
  font-size: x-large;
  padding: 20px;
  background-color: rgb(255, 112, 0);
  color: white;
}

.link:hover {
  box-shadow: 2px 2px 2px 2px grey;
}

.register {
  text-decoration: none;
  padding-top:7px;
  font-size: 17px;
}
