<div fxLayout="row" fxLayoutAlign="space-around center" class="about">
  About System
</div>
<div class="container" fxLayout="column" fxLayoutAlign="space-around left">
  <div class="header">Introduction</div>
  <div class="content">
    A fake commercial center can influence the improvement of a country.<br/>
    Fake items are fakes or unapproved copies of the genuine item.<br/>
    That's why You know product which you buying is genuine product from genuine company.<br/>
    Our system will help you for the same.
  </div>
  <div class="header">How it's works</div>
  <div class="content">
    It's a blockchain based technology.
    This system will digitally identify products.<br/>
    It helps product manufacturer to add their product in blockchain technology.
    So that end costumer can see, product which they are buying is from genuine manufacturer.
  </div>
  <div class="contact">Contact Us</div>
  <div class="content">
    Contact No.: 8122223333<br/><br/>
    Email: abc@gmail.com
  </div>
</div>

