<div class="container" fxLayout="row" fxLayoutAlign="space-around center">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="card-container">
    <div class="card" fxLayout="row" fxLayoutAlign="space-around center">
      <a routerLink="/manufacturer/add-product" *ngIf="this.userModel.userRole == userEnum.Manufacturer" class="link">Add Product</a>
    </div>
    <div class="card" fxLayout="row" fxLayoutAlign="space-around center">
      <a routerLink="/verify-product" class="link">Verify Product</a>
    </div>
    <div class="card" fxLayout="row" fxLayoutAlign="space-around center">
      <a routerLink="/change-ownership" class="link">Change Product Ownership</a>
    </div>
  </div>
</div>
